body {
    font-family: 'Roboto', sans-serif;
    .home {
        height: 800px;
        background-image: url(../image/15235552_632775446904877_6596808646808139309_o.jpg);
        background-position: top;
        background-size: 100% 50%;
        background-repeat: no-repeat;
    }
    .row {
        width: 100%;
        .logo {
            margin-top: 10px;
        }
        width: 80%;
        margin: 0 auto;
        .nav-link {
            margin-top: 1em;
            text-decoration: none;
            color: black;
        }
        .nav-link:hover {
            border-bottom: 1px solid green;
        }
    }
}

.product {
    width: 80%;
}